.cita-container {
    text-align: center;
    margin: 20px;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
  }
  
  p {
    font-size: 18px;
    color: #666;
  }
  
  ion-button {
    margin-top: 20px;
    --background: #007bff;
    --border-radius: 20px;
  }
  